header {
    font-size: 16px;
    background-color: #2a9d8f;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "avatar title .";
    justify-items: center;
    align-items: center;
}

.header-title {
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-avatar {
    grid-area: avatar;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
